* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::selection {
  background-color: rgba(245, 222, 179, 0);
}

p {
  text-wrap: pretty;
}

h1 {
  text-wrap: balance;
}

body {
  width: 100vw;
  height: 100vh;
  max-height: 93vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 0 auto;
  padding: 15px 0px 5px 0px;
  background-color: #222222;
}

p,
h1,
.box,
button {
  color: #e8e4ff;
  font-family: "Baloo 2", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

button {
  cursor: pointer;
  background: none;
}

header {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 15px 20px 15px 20px;
  border: 1px solid rgba(255, 255, 255, 0.068);
}

header div:last-child {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

header button {
  border: none;
  color: #cfcfcf;
  transition: transform 0.222s cubic-bezier(0.55, 0.085, 0.68, 0.53),
    color 0.222s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

header button:hover {
  color: #ffffff;
  transform: scale(1.1);
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(255, 255, 255, 0.068);
  gap: 10px;
  max-width: 600px;
  margin: 0 auto;
  height: 65vh;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: fit-content;
  margin: 0 auto;
}

.box {
  font-size: 2rem;
  font-weight: bold;
  width: 55px;
  height: 55px;
  padding: 5px;
  object-fit: cover;
  aspect-ratio: 1/1;
  background-color: #2d2b2c;
  border-radius: 50%;
  transition: all 0.444s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(44, 44, 44, 0.171);
  box-shadow: 2px 3px 0px 1px rgba(8, 8, 8, 0.151);
}

.box.active {
  border: 2px solid #e8e4ff2c;
}

.box.correct {
  border: none;
  background-color: #5789f5;
  box-shadow: 2px 3px 0px 1px #2069f0;
}

.box.unknown {
  border: none;
  background-color: #ffb347;
  box-shadow: 2px 3px 0px 1px #db9533;
}
.box.incorrect {
  border: none;
  background-color: #ee5d50;
  box-shadow: 2px 3px 0px 1px #c83d36;
}

.keyboard {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 700px;
  margin: 0 auto;
  padding: 5px;
  border: 1px solid rgba(255, 255, 255, 0.068);
  max-width: 600px;
  flex-grow: 1;
}

.keyboard_row {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 10px;
}

.keyboard_row .enter,
.keyboard_row .delete {
  min-width: 65px;
  font-size: 0.9rem;
  border: none;
}

.keyboard_row button {
  flex-basis: auto;
  min-width: fit-content;
  width: 100%;
  max-width: 35px;
  height: 35px;
  border: 2px solid rgba(128, 128, 128, 0.11);
  border-radius: 10px;
  font-weight: 500;
  display: grid;
  place-content: center;
  font-size: 1rem;
  box-shadow: 2px 3px 0px 1px rgba(8, 8, 8, 0.151);
  background-color: #2d2b2c;
  transition: all 0.111s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.keyboard_row button:active {
  transform: scale(0.9);
}

.keyboard_row .enter {
  background-color: #5789f5;
  box-shadow: 2px 3px 0px 1px #2069f0;
}

.keyboard_row .delete {
  background-color: #ee5d50;
  box-shadow: 2px 3px 0px 1px #c83d36;
}
