* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*::selection {
  background-color: rgba(0, 0, 0, 0);
}

p {
  text-wrap: pretty;
}

h1 {
  text-wrap: balance;
}

body {
  width: 100vw;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 0 auto;
  padding: 10px 2px 10px 2px;
  touch-action: manipulation;
}

.instructions {
  z-index: 2;
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(40px);
  font-size: 1rem;
  transition: all .333s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.content_ins {
  max-width: 600px;
}

.instructions .content_ins svg {
  width: 20px;
  height: 20px;
  margin: 0px 10px 0px 10px;
  padding: 2px;
}

.instructions .content_ins svg:hover {
  border: 1px solid rgba(0, 0, 0, 0.274);
}

.instructions.light p,
.instructions.light h1,
.instructions.light .content_ins svg,
.instructions.light .content_ins a {
  color: #000000;
}

.content_ins a,
.instructions .content_ins button {
  color: #e0e0e0;
  font-size: 1rem;
  border: none;
}

ul {
  display: flex;
  margin: 20px 0px 20px 0px;
  gap: 10px;
}

li {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 33%;
}

.correct_box_example {
  font-size: 2rem;
  width: 50px;
  height: 50px;
  padding: 10px;
  display: grid;
  place-content: center;
  font-weight: bold;
  background-color: #5789f5;
  box-shadow: 2px 3px 0px 1px #2069f0;
  border-radius: 5px;
  color: #e0e0e0;
}

.incorrect_box_example {
  font-size: 2rem;
  width: 50px;
  height: 50px;
  padding: 10px;
  display: grid;
  place-content: center;
  font-weight: bold;
  background-color: #ee5d50;
  box-shadow: 2px 3px 0px 1px #c83d36;
  border-radius: 5px;
  color: #e0e0e0;
}

.unknown_box_example {
  font-size: 2rem;
  width: 50px;
  height: 50px;
  padding: 10px;
  display: grid;
  place-content: center;
  font-weight: bold;
  background-color: #ffb347;
  box-shadow: 2px 3px 0px 1px #db9533;
  border-radius: 5px;
  color: #e0e0e0;
}

.playButton {
  border: none;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px;
  font-weight: 600;
  font-family: "Baloo 2", sans-serif;
  font-size: 1rem;
  margin-top: 30px;
  background-color: #5789f5;
  box-shadow: 2px 3px 0px 1px #2069f0;
  border-radius: 5px;
  transition: all 0.099s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.playButton:hover {
  background-color: #5789f5;
}

.playButton:active {
  transform: scale(0.9);
  background-color: #5789f5;
}

.playButton:focus {
  background-color: #5789f5;
}

p,
h1,
.box,
.alert,
button,
html,
body {
  color: #e8e4ff;
  font-family: "Baloo 2", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

button {
  cursor: pointer;
  background: none;
}

button:focus,
button:active {
  background: initial;
}

header {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 15px 20px 15px 20px;
  border: 1px solid rgba(255, 255, 255, 0.068);
}

header div:last-child {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

header button {
  border: none;
  transition: transform 0.222s cubic-bezier(0.55, 0.085, 0.68, 0.53),
    color 0.222s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

header button:hover {
  transform: scale(1.1);
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(255, 255, 255, 0.068);
  gap: 10px;
  max-width: 600px;
  margin: 0 auto;
  height: 70vh;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: fit-content;
  margin: 0 auto;
}

.box {
  font-size: 2rem;
  font-weight: bold;
  width: 55px;
  height: 55px;
  padding: 5px;
  object-fit: cover;
  aspect-ratio: 1/1;
  border-radius: 50%;
  transition: all 0.444s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box.dark.correct {
  border: none;
  background-color: #5789f5;
  box-shadow: 2px 3px 0px 1px #2069f0;
}

.box.dark.unknown {
  border: none;
  background-color: #ffb347;
  box-shadow: 2px 3px 0px 1px #db9533;
}
.box.dark.incorrect {
  border: none;
  background-color: #ee5d50;
  box-shadow: 2px 3px 0px 1px #c83d36;
}

.box.light.correct {
  border: none;
  background-color: #5789f5;
  box-shadow: 2px 3px 0px 1px #2069f0;
}

.box.light.unknown {
  border: none;
  background-color: #ffb347;
  box-shadow: 2px 3px 0px 1px #db9533;
}
.box.light.incorrect {
  border: none;
  background-color: #ee5d50;
  box-shadow: 2px 3px 0px 1px #c83d36;
}

.keyboard {
  width: 100%;
  max-width: 600px;
  max-height: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 3px;
  border: 1px solid rgba(255, 255, 255, 0.068);
  flex-grow: 1;
  height: 20vh;
}

.keyboard_row {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 5px;
  padding: 5px;
}

.keyboard_row .enter,
.keyboard_row .delete {
  min-width: 60px;
  margin: 0px 4px 0px 4px;
  font-size: 0.9rem;
  border: none;
  padding: 0px 10px 0px 10px;
}

.keyboard_row button {
  flex-basis: auto;
  width: 100%;
  min-width: fit-content;
  max-width: 45px;
  height: 100%;
  font-weight: bolder;
  display: grid;
  border-radius: 8px;
  place-content: center;
  font-size: 1rem;
  box-shadow: 2px 3px 0px 1px rgba(8, 8, 8, 0.151);
  transition: all 0.111s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.keyboard_row button:active {
  transform: scale(0.9);
}

.keyboard_row.dark .enter {
  background-color: #5789f5;
  box-shadow: 2px 3px 0px 1px #2069f0;
}

.keyboard_row.dark .delete {
  background-color: #ee5d50;
  box-shadow: 2px 3px 0px 1px #c83d36;
}

.keyboard_row.light .enter {
  background-color: #5789f5;
  box-shadow: 2px 3px 0px 1px #2069f0;
}

.keyboard_row.light .delete {
  background-color: #ee5d50;
  box-shadow: 2px 3px 0px 1px #c83d36;
}

body.dark {
  background-color: #222222;
}

header.dark button {
  color: #e0e0e0;
}

header.dark button:hover {
  color: #ffffff;
}

.box.dark {
  background-color: #2d2b2c;
  color: #ffffff;
  border: 2px solid rgba(44, 44, 44, 0.171);
  box-shadow: 2px 3px 0px 1px rgba(8, 8, 8, 0.151);
}

.keyboard_row.dark button {
  color: #e0e0e0;
  background-color: #2d2b2c;
  border: 2px solid rgba(128, 128, 128, 0.11);
}

.box.active.dark {
  border: 2px solid #e8e4ff2c;
}

body.light {
  background-color: #fcfcfc;
}

header.light button {
  color: #222222;
}

header.light button:hover {
  color: #000000;
}

.box.light {
  background-color: #bababa;
  color: #ffffff;
  box-shadow: 2px 3px 0px 1px rgba(8, 8, 8, 0.103);
}

.keyboard_row.light button {
  color: #222222;
  background-color: #f0f0f0;
  border: 2px solid rgba(128, 128, 128, 0.062);
  box-shadow: 2px 3px 0px 1px rgba(8, 8, 8, 0.103);
}

.box.active.light {
  border: 2px solid #e8e4ff2c;
}

.keyboard_row.light .enter,
.keyboard_row.light .delete {
  color: #ffffff;
}

header.light,
main.light,
.keyboard.light {
  border: 1px solid rgba(2, 2, 2, 0.068);
}

.alert {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
}

.alert.in.win {
  position: absolute;
  top: calc(0% - 30px);
  -webkit-animation: slide-bottom 0.5s ease-in-out both;
  animation: slide-bottom 0.5s ease-in-out both;
  z-index: 2;
  backdrop-filter: blur(10px);
  font-size: 1.2rem;
  font-weight: 700;
  padding: 5px 10px 5px 10px;
  background-color: #5789f5;
  box-shadow: 2px 3px 1px 1px #2069f0;
  border-radius: 18px;
}

.alert.out.win {
  position: absolute;
  top: calc(0% + 30px);
  -webkit-animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  z-index: 2;
  backdrop-filter: blur(10px);
  font-size: 1.2rem;
  font-weight: 700;
  padding: 5px 10px 5px 10px;
  background-color: #5789f5;
  box-shadow: 2px 3px 1px 1px #2069f0;
  border-radius: 18px;
}

.alert.in.lose {
  position: absolute;
  top: calc(0% - 30px);
  -webkit-animation: slide-bottom 0.5s ease-in-out both;
  animation: slide-bottom 0.5s ease-in-out both;
  z-index: 2;
  backdrop-filter: blur(10px);
  font-size: 1.2rem;
  font-weight: 700;
  padding: 5px 10px 5px 10px;
  background-color: #ee5d50;
  box-shadow: 2px 3px 1px 1px #c83d36;
  border-radius: 18px;
}

.alert.out.lose {
  position: absolute;
  top: calc(0% + 30px);
  -webkit-animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  z-index: 2;
  backdrop-filter: blur(10px);
  font-size: 1.2rem;
  font-weight: 700;
  padding: 5px 10px 5px 10px;
  background-color: #ee5d50;
  box-shadow: 2px 3px 1px 1px #c83d36;
  border-radius: 18px;
}

.alert.in.unknown {
  position: absolute;
  top: calc(0% - 30px);
  -webkit-animation: slide-bottom 0.5s ease-in-out both;
  animation: slide-bottom 0.5s ease-in-out both;
  z-index: 2;
  backdrop-filter: blur(10px);
  font-size: 1.2rem;
  font-weight: 700;
  padding: 5px 10px 5px 10px;
  background-color: #ffb347;
  box-shadow: 2px 3px 1px 1px #db9533;
  border-radius: 18px;
}

.alert.out.unknown {
  position: absolute;
  top: calc(0% - 10px);
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  z-index: 2;
  backdrop-filter: blur(10px);
  font-size: 1.2rem;
  font-weight: 700;
  padding: 5px 10px 5px 10px;
  background-color: #ffb347;
  box-shadow: 2px 3px 1px 1px #db9533;
  border-radius: 18px;
}

.keyboard_row .keyLetter.correct {
  color: white;
  background-color: #5789f5;
  border: 2px solid #2069f0;
}

.keyboard_row .keyLetter.incorrect {
  color: white;
  background-color: #ee5d50;
  border: 2px solid #c83d36;
}

.keyboard_row .keyLetter.unknown {
  color: white;
  background-color: #ffb347;
  border: 2px solid #db9533;
}

@media screen and (max-width: 600px) {
  .content_ins {
    padding: 20px;
  }

  a {
    display: block;
  }

  ul {
    flex-direction: column;
  }

  li {
    width: 100%;
  }

  main {
    height: 55vh;
  }

  .box {
    width: 45px;
    height: 45px;
  }

  .keyboard_row.dark .enter {
    box-shadow: 1px 1px 0px 1px #2069f0;
  }

  .keyboard_row.dark .delete {
    box-shadow: 1px 1px 0px 1px #c83d36;
  }

  .keyboard_row.light .enter {
    box-shadow: 1px 1px 0px 1px #2069f0;
  }

  .keyboard_row.light .delete {
    box-shadow: 1px 1px 0px 1px #c83d36;
  }

  .keyboard_row .enter,
  .keyboard_row .delete {
    min-width: 50px;
    margin: 0px;
  }
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
}
@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}
